/* font imports */
@font-face {
	font-family: Exo2-Regular;
	src: url("./resources/Exo2-Regular.ttf");
}

@font-face {
	font-family: OpenSans-Light;
	src: url("./resources/OpenSans-Light.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Discord type blockquotes */
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
	border-left: 5px solid #ccc;
	text-align: left;
} 

/* Outlined tables */
table { 
	border-collapse: collapse;
	border-style: hidden;
	table-layout: fixed;
}

th, td {
	border: 1px solid lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

table th {
	text-align: center;
}

/* Wide modals */
.modal-lg {
	width: 90%;
}

/* Change Heading font */
h1, h2, h3 {
	font-family: Exo2-Regular;
}

/* Change Text font */
p, a, li, div {
	font-family: OpenSans-Light;
}

/* Custom gray background */
.four-c-gray {
	background-color: #4c4c4c;
}

/* Change text size */
.smol {
	font-size: 14px;
}
.smoller {
	font-size: 10px;
}

/* Table spacing */
table {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}